@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-50: hsl(260, 100%, 95%);
  --color-primary-300: hsl(264, 82%, 80%);
  --color-primary-500: hsl(263, 55%, 52%);

  --color-neutral-100: hsl(214, 17%, 92%);
  --color-neutral-200: hsl(0, 0%, 81%);
  --color-neutral-400: hsl(224, 10%, 45%);
  --color-neutral-500: hsl(217, 19%, 35%);
  --color-neutral-900: hsl(219, 29%, 14%);
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
}

@layer base {
  body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: var(--fs-xs);
    line-height: var(--lh-normal);
    color: var(--white);
    background-color: var(--color-primary-50);
  }

  h1,
  h2,
  h3 {
    color: var(--heading-fc, inherit);
    font-weight: var(--heading-fw, 600);
    font-size: var(--heading-fs);
    margin-bottom: var(--heading-mb);
    line-height: var(--lh-tight);
  }

  span {
    display: var(--span-display, inline);
    color: var(--span-fc, var(--black));
    font-size: var(--span-fs, inherit);
    font-style: var(--span-style, normal);
  }

  p {
    color: var(--p-fc, inherit);
    font-size: var(--p-fs);
    line-height: var(--p-lh, var(--lh-normal));
    margin-bottom: var(--p-mb);
  }
}

@layer layout {
  .page {
    padding: var(--page-pd, var(--space-md));
    display: grid;
    place-items: center;
    place-content: center;
    min-height: 100svh;
  }

  .grid-container {
    max-width: 111rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: var(--space-md) var(--space-lg);
    grid-template-areas:
      "one one two five"
      "three four four five";

    @media (max-width: 930px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "one one two"
        "three four four"
        "five five five";
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five";
    }
  }

  .grid-container > * {
    color: var(--grid-item-clr, var(--white));
    padding: var(--grid-item-pd, var(--space-md));
    border-radius: var(--grid-item-border-radius, var(--radius-md));
    box-shadow: var(--grid-item-bs, 30px 30px 30px 0 rgba(0, 0, 0, 0.2));
    background: var(--grid-item-bg);

    z-index: 1;
  }

  .testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-xs);

    .bg-pattern {
      position: absolute;
      right: 5rem;
      top: 0;
      z-index: -1;
    }

    h3 {
      --heading-fs: var(--fs-md);
      --heading-lh: var(--lh-snug);
    }
  }

  .testimonial-person {
    --heading-fs: var(--fs-sm);

    display: flex;
    align-items: center;
    gap: var(--space-sm);
  }

  .grid-container img:not(.bg-pattern) { 
    width: 3.2rem;
    border-radius: 50%;
    border: var(--img-border);
  }

  .grid-container > *:nth-child(1) {
    --grid-item-bg: var(--color-primary-500);

    grid-area: one;

    img {
      --img-border: 3px solid var(--color-primary-300);
    }
  }

  .grid-container > *:nth-child(2) {
    --grid-item-bg: var(--color-neutral-500);

    grid-area: two;
  }

  .grid-container > *:nth-child(3) {
    --grid-item-clr: var(--color-neutral-500);
    --grid-item-bg: var(--white);

    grid-area: three;
  }

  .grid-container > *:nth-child(4) {
    --grid-item-bg: var(--color-neutral-900);
    grid-area: four;

    img {
      --img-border: 3px solid var(--color-primary-500);
    }
  }

  .grid-container > *:nth-child(5) {
    --grid-item-clr: var(--color-neutral-500);
    --grid-item-bg: var(--white);
    grid-area: five;
  }
}
